@import "../../scss/functions";
@import "../../scss/mixins";
@import "../../scss/variables";

.servicos-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;

    .introduction-container {
        @include flex(0, 0);
        flex-direction: column;
        background-color: $navy-blue-primary;
        color: white;
        padding: 30px 0;
        position: relative;

        &__text {
            text-align: center;
            width: 90%;
            max-width: 700px;

            h1 {
                font-weight: 500;
                font-size: 2rem;
                min-width: 100%;
            }

            p {
                font-size: 1.2rem;
                margin-top: 10px
            }
        }

        &__servicos {
            @include flex(0, 0);
            width: 90%;
            max-width: 1400px;
            flex-wrap: wrap;
            font-size: 18px;
            margin-top: 20px;
            user-select: none;

            & > div {
                @include flex(0, 0);
                flex-direction: column;
                justify-content: space-between;
                width: 200px;
                min-height: 225px;
                margin: 40px 70px;
                text-align: center;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border: 1px solid white;
                    padding: 35px 65px;
                    top: -35px;
                    border-radius: 15px
                }

                .image-container-servico {
                    @include flex(0, 0);
                    height: 160px;

                    img {
                        width: 150px;
                        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7468%) hue-rotate(152deg) brightness(113%) contrast(100%);
                    }
                }


                p {
                    @include flex(0, 0);
                    height: 55px;
                    margin-top: 20px

                }
            }
        }

        &__outros {
            @include flex(0, 0);
            border-radius: 10px;
            border: 1px solid white;
            padding: 8px 10px;
            margin-top: 25px;
            user-select: none;
            transition: all ease-in-out 125ms ;

            & > * {
                margin: 0 5px;
            }

            &:hover {
                cursor: pointer;
                backdrop-filter: brightness(70%);
            }

            img {
                filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7468%) hue-rotate(152deg) brightness(113%) contrast(100%);
            }

            p {
                font-size: 20px;
            }
        }
    }

    .carousel {
        position: absolute;
        z-index: 100;
        height: 100%;
        width: 100%;
    }

    .gallery, .gallery-wide {
        @include flex(0, 0);
        flex-wrap: wrap;
        padding: 125px 0;
        position: relative;
        height: fit-content;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 0px 10px $navy-blue-primary inset;
            border-radius: 18px;
            top: 0;
            z-index: 1;
        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 0px 10px $navy-blue-primary inset;
            top: 0;
            z-index: 1;
        }

        .container-placeholder {
            height: 250px;
            width: 400px;
            margin: 15px;
            border-radius: 10px;
            box-shadow: 0px 0px 30px rgb(218, 218, 218);
            user-select: none;
            position: relative;
        }

        &__image-container, &__image-container-left, &__image-container-right, &__image-container-center {
            height: 100%;
            width: 100%;
            position: absolute;
            border-radius: 10px;
            background-size:100% 100%;
            background-repeat: no-repeat;
            z-index: 2;
            transition: all ease-in-out 125ms;

            &:hover {
                cursor: pointer;
            }
            img {
                width: 100% ;
                height: 100%;
                object-fit:contain;
                border-radius: 10px;
                backdrop-filter: blur(15px);
            }
        }
        
        &__image-container-left {
            right: 0;
        }

        &__image-container-expand-left, 
        &__image-container-expand-right, 
        &__image-container-expand-center {
            height: 175%;
            width: 175%;
            position: absolute;
            border-radius: 10px;
            background-size:100% 100%;
            background-repeat: no-repeat;
            z-index: 999;
            transition: all ease-in-out 125ms;
            animation: expand linear 70ms;

            &:hover {
                cursor: pointer;
            }

            img {
                width: 100% ;
                height: 100%;
                object-fit:contain;
                border-radius: 10px;
                backdrop-filter: blur(15px);
                z-index: 1000;
            }

        }


        &__image-container-expand-left {
            right: 0;
        }
        
        &__image-container-expand-right {
            left: 0;
        }
        
        &__image-container-expand-center {
            width: 100%;
            height: 100%;
            transform: scale(175%);
            animation: expand-center linear 70ms;
        }


    }

    .gallery-wide {
        height: 100%;
    }
}

@keyframes expand {
    0% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 175%;
        height: 175%;
    }
}

@keyframes expand-center {
    0% {
        transform: scale(100%);
    }
    100% {
        transform: scale(175%);
    }
}

@keyframes collapse {
    0% {
        width: 175%;
        height: 175%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}

@keyframes collapse-center {
    0% {
        transform: scale(175%);
    }
    100% {
        transform: scale(100%);
    }
}