//Colors
$navy-blue-primary: #121742;
$light-gray: #e5e5ea;
$header-separator-line: #ffffff40;

//Maps
$font-weights: (
    "light": 300,
    "regular": 400,
    "bold": 700
);

//Font Sizes
$font-normal: 1.25rem;
$font-title: 3.75rem;